include CHANGELOG.md CITATION.cff CONTRIBUTING.md LICENSE NOTICE README.md RELEASING.md
recursive-include docs *.md
recursive-include examples *.py
prune analysis
prune benchmarks
prune tests
global-exclude *.py[cod] __pycache__
