include CHANGELOG.md
include CITATION.cff
include CONTRIBUTING.md
include NOTICE
recursive-include benchmarks *.py
recursive-include docs *.md *.png *.tex
recursive-include examples *.py
recursive-include tests *.py
